In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
from sklearn.datasets import load_diabetes
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.compose import ColumnTransformer

In [19]:
X,y = load_diabetes(return_X_y= True, as_frame= True)

In [20]:
X.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641

In [17]:
y

0      151.0
1       75.0
2      141.0
3      206.0
4      135.0
       ...
437    178.0
438    104.0
439    132.0
440    220.0
441     57.0
Name: target, Length: 442, dtype: float64

In [32]:
from sklearn.preprocessing import StandardScaler

In [35]:
pipeline = make_pipeline(StandardScaler(), RandomForestRegressor())

In [38]:
pipeline.fit(X,y)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('randomforestregressor', RandomForestRegressor())])

In [39]:
pipeline.predict(X)

array([190.01,  77.89, 148.25, 193.45, 121.97, 104.64, 110.17,  97.85,
       124.35, 250.08, 106.27, 103.48, 141.8 , 183.77, 120.33, 181.59,
       180.55, 153.33, 102.35, 144.57,  84.99,  73.12,  80.51, 241.3 ,
       166.4 , 180.06, 123.81, 106.27, 133.52, 251.98, 134.02,  63.4 ,
       307.16,  96.8 ,  76.52, 110.99, 247.66, 221.01, 243.33, 128.01,
       122.55,  77.05,  86.05,  86.54, 230.36,  71.17, 173.2 , 134.24,
        77.91, 153.73, 143.05, 213.15,  77.73, 113.01, 169.41, 104.03,
        99.8 ,  53.45, 147.07, 161.05,  72.21, 139.91,  56.39, 124.82,
        99.54, 169.83, 143.69,  93.54, 129.98, 153.93,  62.85, 262.14,
       195.  , 109.1 , 120.65,  65.61, 174.01, 156.52, 224.36, 114.44,
       158.99,  83.69,  62.61, 187.6 ,  71.5 , 138.39,  73.59, 155.83,
        62.18, 105.38,  89.69, 164.35,  84.34,  86.64,  90.75, 152.76,
       169.26, 249.31,  90.66, 107.8 , 159.64, 100.41, 244.64, 183.14,
       116.21,  65.45, 126.63, 140.19, 237.06, 104.53, 105.25,  76.86,
       217.74, 285.18, 266.41, 215.04, 261.41, 262.15, 182.06, 177.06,
       162.33, 181.69, 204.37, 133.55, 140.34, 165.67, 100.04, 117.06,
       108.89, 253.67, 268.18, 132.19, 105.67,  83.04, 129.93, 256.16,
        87.68, 246.65, 316.93, 254.19, 142.2 , 279.62, 200.29,  80.75,
       171.64, 245.13, 170.54, 171.17, 128.72, 133.22, 241.72,  97.81,
       253.22,  85.46, 187.93, 198.11,  75.17,  94.4 , 100.76, 218.81,
        68.66, 225.13, 150.55, 164.35, 184.75,  61.61,  76.  , 232.67,
       247.92, 166.16,  57.13,  83.3 , 277.94, 107.78, 162.34, 122.4 ,
       198.71, 218.32,  85.1 , 160.55, 129.36,  85.56, 146.68, 168.12,
       223.14, 137.69, 156.47, 122.84, 136.02,  87.03, 249.92, 167.78,
        97.98, 128.39, 115.02, 143.87,  78.28, 159.69, 145.01, 116.24,
       137.84,  51.13, 198.01, 205.82, 236.15, 155.83, 187.47, 206.04,
       185.81,  97.67, 176.38,  99.48,  91.54,  66.08,  80.25, 274.81,
       231.33, 277.77, 180.28, 171.42,  86.36, 115.24, 187.93, 146.63,
        78.35, 214.16,  84.68,  99.75, 144.45,  60.12, 224.42, 138.97,
       220.43, 104.7 , 241.36, 141.59, 105.33,  77.84, 207.05, 239.53,
       266.79, 149.96,  78.64,  58.7 , 166.68, 111.34, 100.24,  74.91,
       233.94, 221.51, 283.39, 240.14, 117.2 , 178.16, 288.66, 132.03,
       281.47,  77.93, 112.52,  76.49,  58.59, 111.98, 293.58, 102.3 ,
       141.87, 101.38,  55.7 , 130.9 , 267.7 ,  89.19, 209.25, 144.77,
       173.29, 218.83,  91.87, 112.36, 249.14,  73.46, 112.64, 167.35,
       249.71, 121.17, 193.77, 155.65, 164.86, 219.47,  69.28, 201.42,
        80.14, 111.5 , 293.45, 245.99,  89.17, 187.43,  66.31, 126.37,
        88.74,  56.13, 125.06,  89.26, 260.92,  78.4 , 200.47, 242.14,
       205.17, 133.11,  68.42, 178.68, 103.95, 156.78, 152.35, 170.04,
       120.02, 180.34, 148.43,  96.04, 223.19, 176.09, 120.29, 196.41,
       139.67, 237.81, 249.65, 229.48, 221.93, 210.69, 149.55, 238.22,
       106.74, 122.73, 213.56, 162.65, 273.44, 172.38,  76.57,  86.19,
       277.19, 120.81, 183.34, 108.27, 163.32, 241.99, 178.35, 134.26,
       183.19, 142.01, 159.1 ,  97.12, 131.23,  88.1 , 248.78,  74.91,
        78.86, 130.4 , 246.65,  80.17,  74.76, 211.51,  91.72, 257.59,
       250.92, 146.46, 300.14,  89.31, 212.76, 198.93, 237.88, 247.06,
       157.97, 154.05,  69.17, 192.04,  73.94, 148.36, 154.08, 206.48,
       149.18, 207.13, 229.8 ,  71.94, 100.51, 102.1 , 176.1 ,  91.39,
       102.87, 179.93,  85.86, 170.5 , 134.89,  54.29, 266.8 ,  65.76,
       105.62,  87.95, 247.51, 228.43,  60.6 , 192.08, 225.23, 214.6 ,
       184.36,  88.44, 164.66, 258.94, 238.78, 285.62,  77.13, 147.42,
       195.16, 176.91, 181.09, 126.66, 257.41, 102.97, 157.13, 166.83,
       220.46,  92.66,  94.78,  69.06, 134.09, 207.33, 219.19, 118.31,
       137.78, 129.3 , 140.77,  87.79, 295.1 ,  97.03, 153.02,  87.58,
       203.01,  73.25,  61.64,  82.04,  54.03, 202.88, 109.63, 110.91,
       204.4 ,  85.91])

In [40]:
import pickle

In [42]:
with open('pipeline_model.pkl', 'wb') as f:
    pickle.dump(pipeline, f)

In [43]:
with open('pipeline_model.pkl', 'rb') as f:
    reloaded_model =pickle.load(f)

In [44]:
reloaded_model

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('randomforestregressor', RandomForestRegressor())])

In [47]:
X.select_dtypes('float')

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064

In [49]:
X.select_dtypes('float').columns

Index(['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6'], dtype='object')

In [50]:
X1 = X[X.select_dtypes('float').columns]

In [51]:
X1

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064

In [52]:
X.select_dtypes(exclude='object').columns

Index(['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6'], dtype='object')